.lead {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  height: 90%;
}
.scroll__button {
  background: #9a8c98;
  width: 150px;
  padding: 10px;
  color: #f2e9e4;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
