.wrapper {
  margin: 80px;
}
.title__container {
  margin-bottom: 30px;
}
.projects__container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}
.project__item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*height: 350px; */
  position: relative;
  overflow: hidden;
}
.project__description {
  padding: 20px;
  grid-column: 1 / 6;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: justify;
  span,
  a {
    color: #9a8c98;
  }
}
.project__name,
.project__link,
.project__text,
.project__stack,
.project__organization {
  color: #c9ada7;
}

.project__photo {
  grid-column: 6 / 13;
  grid-row: 1;
  position: relative;
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
}
.project__photo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 59, 0.6);
  z-index: 1;
}
/* .project__photo::before {
  content: '';
  width: 10px;
  height: 10px;
  background: green;
  clip-path:  polygon(10% 100%, 10% 0%, 90% 0%, 90% 100%);
  z-index: 2;
} */
.project__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project__photo:hover {
  cursor: pointer;
}
.project__photo:hover::after {
  background-color: transparent;
  transition: all 750ms ease;
}
.project__item:nth-child(even) {
  .project__description {
    grid-column: 7 / 13;
    grid-row: 1;
  }
  .project__photo {
    grid-column: 1 / 7;
    grid-row: 1;
  }
}
