#content .title__container {
  margin-bottom: 40px;
}
.projects__container {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.project__item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*height: 350px; */
  position: relative;
  overflow: hidden;
}
.project__item:nth-child(even) .project__description {
  grid-column: 9 / 13;
  grid-row: 1;
}
.project__item:nth-child(even) .project__photo {
  grid-column: 1 / 9;
  grid-row: 1;
}

.project__description {
  padding: 20px;
  grid-column: 1 / 5;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: justify;
  color: #b2b2b2;
}

.project__photo {
  grid-column: 5 / 13;
  grid-row: 1;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project__photo::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.2);
  z-index: 1;
}

.project__photo img {
  width: 100%;
  object-fit: cover;
}
.project__photo:hover {
  cursor: pointer;
}
.project__details {
  position: relative;
}
.project__photo .button-container {
  position: absolute;
  width: 250px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.project__photo:hover img {
  opacity: 0.4;
}
.project__photo:hover .button-container {
  display: flex;
  transition: all 750ms ease;
  z-index: 10;
}
.project__photo .button-container img,
.component__description .button-container img {
  width: auto;
}

.component__description .button-container {
  width: 250px;
  height: 60px;
}

.component__description .button-container img {
  margin-bottom: 0;
}
