.animate-accent-point {
  animation: ap 40s linear infinite;
  will-change: transform;
  position: absolute;
  left: 0;
  top: 0;
  height: 80vw;
  width: 120%;
  z-index: -10;
  filter: blur(5em);
}

@keyframes ap {
  0% {
    transform: rotate(0deg) scale(120%);
  }
  12% {
    transform: rotate(45deg) scale(120%);
  }
  25% {
    transform: rotate(90deg) scale(130%);
  }
  37% {
    transform: rotate(135deg) scale(110%);
  }
  50% {
    transform: rotate(180deg) scale(80%);
  }
  62% {
    transform: rotate(225deg) scale(90%);
  }
  75% {
    transform: rotate(270deg) scale(100%);
  }
  87% {
    transform: rotate(315deg) scale(70%);
  }
  100% {
    transform: rotate(1turn) scale(120%);
  }
}

.animation-fill {
  animation: colorChange 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  transition-duration: 0.15s;
  -webkit-animation: colorChange 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@keyframes colorChange {
  0% {
    fill: var(--cl-0);
  }
  25% {
    fill: var(--cl-25);
  }
  65% {
    fill: var(--cl-65);
  }
  90% {
    fill: var(--cl-90);
  }
  100% {
    fill: var(--cl-0);
  }
}
