.button {
  @include reset-button;
  font-family: var(--font-family-secondary);
  min-width: 170px;
  padding: 10px 20px;
  height: var(--button-height);
  display: flex;

  background: var(--cl-button-background);
  border: 1px solid var(--cl-button-border);
  color: var(--cl-button-text);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  transition: all var(--transition-duration) ease;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;

  @include mobile {
    min-width: 110px;
  }

  & svg {
    transform: rotate(0deg);
    transition: all var(--transition-duration) ease;
  }

  @include hover {
    background: var(--cl-accent);
    color: var(--cl-button-text);
    border: 1px solid transparent;
    -webkit-box-reflect: var(--reflect);
    box-shadow: none;
    will-change: transform;
    transition: all var(--transition-duration) ease;
    transform: translate(10px, -10px);

    & svg {
      transform: rotate(210deg); /* Анимация стрелки при наведении */
    }
  }
}
