.component {
  &__item {
    &-description {
      width: 480px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      box-shadow: var(--shadow);
      background: var(--color-dark-alt);
      padding: 50px;
      position: relative;
      top: -10px;
      left: 120px;
      text-align: justify;
      z-index: -1;

      @include mobile {
        width: 100%;
        left: 0;
        padding: 10px;
      }
    }
  }
}
