.footer {
  background: var(--cl-accent);
  position: relative;
  // position: fixed;
  // width: 100%;
  // bottom: 0;

  @include mobile {
    margin-top: 40px;
    padding-right: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    height: 100px;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }
  }

  &__title .title {
    margin-bottom: 0;
    color: var(--cl-footer-text);
    text-align: center;
  }
}
