.header {
  @include fluid-text(24, 16);

  padding: 20px 0;
  position: relative;
  z-index: 2;
  font-family: var(--font-family-secondary);

  &__inner {
    @include mobile {
      text-align: right;
    }
  }

  &__menu {
    // padding: 0 100px;

    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 35px;
      cursor: pointer;

      @include mobile {
        column-gap: 5px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-item {
      display: inline-block;

      border: 1px solid transparent;
      color: var(--color-light);
      text-transform: uppercase;

      & a {
        padding: 10px;
        display: inline-block;
        width: 100%;
      }
    }

    &-item:hover {
      color: var(--color-light-alt);
      transition: all var(--transition-duration) ease;
      border-top: 1px solid var(--color-accent);
      border-bottom: 1px solid var(--color-accent);
    }
  }

  & .visible-mobile {
    & .header__menu-list {
      flex-direction: column;
      background: var(--color-dark);
      align-items: flex-end;
    }
  }
}
