.layout {
  &__item {
    @include fluid-text(16, 14);

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    &-name {
      @include fluid-text(20, 18);
      font-family: var(--font-family-secondary);
    }

    &-stack {
      @include fluid-text(14, 12);

      flex-direction: row;
      justify-content: flex-start;
      gap: 15px;
      flex-wrap: wrap;
      color: var(--color-accent);
      text-transform: lowercase;
    }

    &-links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;

      @include mobile {
        justify-content: center;
      }
    }
  }
}
