.detail__link:hover {
  color: var(--color-gray-alt);
}
.detail__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.detail__item:nth-child(1) p {
  @include fluid-text(22, 16);
  color: var(--color-light);
  font-weight: 500;
}
.detail__links {
  display: flex;
  column-gap: 20px;
}
