.lead {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100svh;
  font-family: var(--font-family-secondary);
  padding-top: 90px;
  align-items: center;
  justify-content: center;

  &__title {
    @include fluid-text(50, 24);

    line-height: 1;
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
  }
}
