.button {
  @include reset-button;
  font-family: var(--font-family-secondary);
  width: 100%;
  min-width: 170px;
  padding: 10px 20px;
  height: var(--button-height);
  display: flex;

  background: var(--cl-button-background);
  border: 1px solid var(--cl-button-border);
  color: var(--cl-button-text);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;

  @include mobile {
    min-width: 110px;
  }

  @include hover {
    background: var(--cl-accent);
    color: var(--cl-button-text-alt);
    border: 1px solid transparent;
    transition: all var(--transition-duration) ease;
    & svg {
      transform: rotate(210deg);
      transition: all var(--transition-duration) ease;
    }
  }
  & svg {
    transform: rotate(0deg);
    transition: all var(--transition-duration) ease;
  }
}
