.button {
  @include reset-button;
  font-family: var(--font-family-secondary);
  width: 100%;
  min-width: 170px;
  padding: 10px 20px;
  height: var(--button-height);
  display: flex;

  background: var(--color-dark);
  border: 1px solid var(--color-gray-alt);
  color: var(--color-light);
  border-radius: var(--border-radius-large);
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;

  @include mobile {
    min-width: 110px;
  }

  @include hover {
    background: var(--color-accent);
    color: var(--color-dark-alt);
    border: 1px solid transparent;
    transition: all var(--transition-duration) ease;
    box-shadow: var(--shadow);
  }
  & svg {
    transform: rotate(0deg);
    transition: all var(--transition-duration) ease;
  }

  &:hover svg {
    transform: rotate(210deg);
    transition: all var(--transition-duration) ease;
  }
}
