.lead__overlay {
  background: url('../assets/images/myphoto.jpg') no-repeat;
  // background: url('../assets/images/main-photo.jpg') no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  position: relative;

  // & .mask2 {
  //   mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
  // }
}
.lead__overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.9);
  z-index: 1;
}
.main__content {
  /* margin: 0 100px 100px; */
  padding-top: 172px;
  display: flex;
  flex-direction: column;
  row-gap: 140px;
  position: relative;

  @include mobile {
    row-gap: 40px;
  }
}
.content__wrapper {
  position: relative;
}
