.lead__overlay {
  background: var(--cl-lead-overlay-gradient);
  box-shadow: var(--shadow);
}

.main__content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 0;
}

.page__overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
}
