.lead__overlay {
  background: linear-gradient(180deg, rgb(39, 39, 39) 8%, rgb(24, 23, 23) 54%);
}

.main__content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 0;
}
