.project {
  &__item {
    column-gap: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
      row-gap: 10px;
      padding: 25px 0;

      &::after {
        content: '';
        width: 250px;
        height: 1px;
        border-radius: var(--border-radius-small);
        background: (var(--linear-gradient-decoration));
        position: absolute;
        bottom: 5px;
        -webkit-border-radius: var(--border-radius-small);
        -moz-border-radius: var(--border-radius-small);
        -ms-border-radius: var(--border-radius-small);
        -o-border-radius: var(--border-radius-small);
      }
    }

    &-description {
      padding: 20px 0;
      order: 1;
      width: 45%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      text-align: justify;
      color: var(--color-gray);

      @include mobile {
        width: 100%;
        padding: 0;
      }
    }

    &-photo {
      order: 2;
      position: relative;
      width: 55%;
      display: flex;
      flex-direction: column;

      @include mobile {
        width: 100%;
      }

      @include hover {
        cursor: pointer;
      }

      & img {
        width: 100%;
        object-fit: cover;
        filter: grayscale(0.55);

        @include mobile {
          height: auto;
        }
      }

      &-details {
        position: relative;
      }

      & .button {
        @include absolute-center;
        width: 250px;
        height: 60px;
        display: none;
      }
      &:hover .button {
        display: flex;
        transition: all var(--transition-duration) ease;
        z-index: 100;
      }
      &:hover img {
        filter: grayscale(0.45) blur(3px);
        transition:
          filter var(--transition-duration) ease,
          blur var(--transition-duration) ease;
      }
      &:not(:hover) img {
        filter: grayscale(0) blur(0);
        transition:
          filter var(--transition-duration) ease,
          blur var(--transition-duration) ease;
      }
    }

    &:nth-child(even) .project__item-description {
      order: 2;
    }
    &:nth-child(even) .project__item-photo {
      order: 1;
    }
  }
}
