.projects {
  &__title {
    margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include hover {
      & .line {
        background-color: var(--cl-accent);
      }

      & .title {
        color: var(--cl-accent);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 100px;

    @include mobile {
      row-gap: 0;
    }
  }

  &__template {
    @include fluid-text(16, 14);
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: var(--cl-card-text-alt);

    &--disabled {
      display: none;
    }
  }
}
