.projects {
  &__inner {
    position: relative;
  }
  &__title {
    margin-bottom: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include hover {
      & .line {
        background-color: var(--cl-accent);
      }
    }
  }
  &__template {
    @include fluid-text(16, 14);
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: var(--cl-card-text-alt);

    &--disabled {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;

    @include mobile {
      gap: 20px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 3);
    row-gap: 30px;

    @include mobile {
      gap: 20px;
      width: calc((100% - 20px) / 2);
    }

    @include mobile-s {
      width: 100%;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-large);
    background-color: var(--cl-body);
    padding-bottom: 30px;

    &-content {
      border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
      max-height: 400px;
      overflow: hidden;
      position: relative;
      transition: max-height var(--transition-duration) ease;

      & img {
        width: 100%;
      }

      &-name {
        @include fluid-text(30, 16);

        cursor: pointer;
        font-family: var(--font-family-secondary);
        position: absolute;
        top: 0;
        backdrop-filter: brightness(65%) blur(5px);
        color: white;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        z-index: 10;
        transition: all var(--transition-duration) ease;

        & p {
          margin-bottom: 0;
        }

        @include hover {
          color: var(--cl-accent);
          & svg {
            transform: rotate(360deg) scale(1.1);
          }
        }
      }

      &-view-image {
        fill: white;
        transition: transform var(--transition-duration) ease;
      }

      &-see-text {
        display: none;
      }
      &-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        width: 100%;
        padding: 0 5px;

        & .link {
          transition: transform var(--transition-duration) ease;
          @include hover {
            transform: rotate(360deg);
          }
        }
      }

      &-stack {
        @include fluid-text(16, 12);

        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 15px;
        row-gap: 5px;
        flex-wrap: wrap;
        padding: 0 5px;
        min-height: 40px;
      }
    }

    &-expanded {
      & .projects__item-content {
        overflow: inherit;
        max-height: 100%;
        transition: max-height var(--transition-duration) ease;

        & img {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-video {
      grid-column: span 7;
      position: relative;

      & video {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}

.react__list {
  display: grid;
  grid-auto-flow: row dense;
  width: 100%;
}

.react__item {
  grid-column: span 4;

  @include mobile {
    grid-column: span 12;
  }

  &-content {
    max-height: 600px;
  }
}
#pr10,
#pr7 {
  grid-column: span 8;

  @include mobile {
    grid-column: span 12;
  }

  & .react__item-content-links {
    @include tablet {
      flex-direction: row;
    }
  }
}
