.detail {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 360px);

  &__inner {
    padding: 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: justify;
    width: 90%;
    color: var(--color-gray);
    box-shadow: var(--shadow);
    background: var(--color-dark-alt);

    & .mySwiper {
      // height: 650px;
      // width: 90%;
    }
  }

  &__forward {
    @include fluid-text(16, 14);
    padding: 5px 10px;
    margin-inline: auto;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: var(--color-dark-alt);
    border: 1px solid var(--color-gray-alt);
    border-radius: var(--border-radius-small);
    cursor: pointer;

    @include hover {
      background: var(--color-gray-alt);
      box-shadow: var(--shadow);
      transition: all var(--transition-duration) ease;
    }
  }
}
