.project {
  &__item {
    position: relative;
    overflow: hidden;

    @include tablet {
      display: flex;
      flex-direction: column;
    }
    @include mobile {
      flex-direction: column;
      row-gap: 20px;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    &-layout {
      order: 1;

      display: flex;
      flex-direction: column;
      row-gap: 20px;
      text-align: justify;
      color: var(--cl-card-text);
      grid-column: span 5;
      grid-row: 1;

      @include mobile {
        order: 1;
        width: 100%;
        padding: 0;
      }
    }

    &-photo {
      order: 2;
      position: relative;

      display: flex;
      flex-direction: column;
      grid-column: span 7;
      grid-row: 1;

      @include mobile {
        width: 100%;
      }

      & img {
        width: 100%;
        height: auto;
        object-fit: contain;

        @include mobile {
          width: 100%;
          height: auto;
        }
      }
    }

    &-details {
      position: relative;

      @include mobile {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }
    }

    &-comment {
      grid-column: span 12;
      order: 3;

      @include tablet {
        display: flex;
        flex-direction: column;
      }

      & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-note {
      @include fluid-text(16, 14);
      color: var(--cl-card-text);
      grid-column: span 5;

      position: relative;
      text-align: justify;

      @include mobile {
        width: 100%;
      }
    }
    &-video {
      grid-column: span 7;
      position: relative;

      & video {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &:nth-child(even) .project__item-layout {
      order: 2;
      @include tablet {
        order: 1;
      }
    }
    &:nth-child(even) .project__item-photo {
      order: 1;
      @include tablet {
        order: 2;
      }
    }
  }
}
