.skills {
  &__title {
    margin-bottom: 40px;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    @include mobile {
      justify-content: flex-start;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    &-name {
      @include fluid-text(14, 12);
    }
  }
  & .line-to-section {
    left: 50px;
  }
}
