.title {
  @include fluid-text(40, 20);

  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-family: var(--font-family-secondary);
  letter-spacing: 0.1rem;
  color: var(--cl-title);
}
