.detail__link:hover {
  color: #929292;
}
.detail__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.detail__item:nth-child(1) p {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.detail__links {
  display: flex;
  column-gap: 20px;
}
