.swiper {
  width: 100%;
  height: 100%;
}
.swiper-container {
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: inherit;
  cursor: grab;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  cursor: pointer;
  appearance: none;
  border: 0;
  width: 20px;
  height: 20px;
  background-color: #74bd15;
  border-radius: 100%;
  padding: 0;
  cursor: pointer;
  position: relative;
  transition: opacity 0.2s ease-in-out;
  outline: none;
  border: 2px solid #6b6b6b;
}
.swiper-pagination-bullet:hover {
  background-color: #d4d4d4;
}

.swiper-pagination-bullet-active {
  background-color: #b9ff47;
}
.swiper-pagination-bullet:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 100%;

  opacity: 0;
  color: transparent;
  transition:
    opacity 0.4s ease-in-out,
    width 0.4s ease-in-out,
    height 0.4s ease-in-out;
}
.swiper-pagination-bullet-active:before {
  width: 200%;
  height: 200%;
  border: 2px solid #b9ff47;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}
