* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include fluid-text(18, 16);
  background: var(--cl-body);
  width: 100%;
  color: var(--cl-body-text);
  font-family: var(--font-family-base);
  line-height: 1.28;
  font-weight: 400;
  user-select: none;
  // hyphens: auto;
}
a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1 {
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--cl-body-scroll);
}

::-webkit-scrollbar-thumb {
  background: var(--cl-body-scroll-thumb);
  cursor: grab;
}
