.header {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  font-family: 'Dela Gothic One', sans-serif;
}
.header__navigation {
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 35px;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 100px;
}
.nav__item {
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent;
}
.nav__item:hover {
  color: #f2e9e4;
  transition: all 750ms ease;
  border-top: 1px solid #b9ff47;
  border-bottom: 1px solid #b9ff47;
}
