.header {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.header__navigation {
}
.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 35px;
  cursor: pointer;
  color: #9a8c98;
}
.nav__item {
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent;
}
.nav__item:hover {
  color: #f2e9e4;
  transition: all 750ms ease;
}
