.lead__overlay {
  background: url('../../assets/images/myphoto.jpg') no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.lead__overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.8);
  z-index: 1;
}
.main__content {
  margin: 0 100px 100px;
  padding-top: 172px;
  display: flex;
  flex-direction: column;
  row-gap: 140px;
  position: relative;
}
.content__wrapper {
  position: relative;
}
.line-to-section {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  background-color: #525252;
}
#skills .line-to-section {
  left: -5px;
}
#content .line-to-section {
  left: -36.6px;
}
#components .line-to-section {
  left: 33.3px;
}
