:root {
  --index: calc(1vw + 1vh);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232323;
  width: 100%;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  user-select: none;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

